<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyf.dao.PersonMapper">
	<resultMap type="zyf.pojo.DO.PersonDO" id="personResultMap">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="age" column="age" jdbcType="INTEGER"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="fields">
		id, name, age
	</sql>
	
	<sql id="all_fields">
		id, name, age, create_time, update_time, is_deleted
	</sql>
	
	<sql id="fields_value">
		null, #{name}, #{age}
	</sql>

	<sql id="query_condition">
		<where>
			is_deleted = 0
			<if test="name != null">
				and name like "%"#{name}"%"
			</if>
			<if test="age">
				and age = #{age}
			</if>
		</where>
	</sql>

 	<insert id="insertPerson" parameterType="PersonDO" useGeneratedKeys="true" keyProperty="id">
 	 	insert into person (<include refid="fields" />) 
 	 	values (<include refid="fields_value" />)
	</insert>
	
	<update id="deletePerson" parameterType="long">
		update person set is_deleted = 1 where id = #{id}
	</update>
		
	<update id="updatePerson" parameterType="PersonDO">
		update person set name = #{name}, age = #{age} where id = #{id} 
	</update>
	
  	<select id="selectPersonById" parameterType="long" resultMap="personResultMap">
    	select <include refid="fields" /> from person where is_deleted = 0 and id = #{id}
 	</select>

 	<select id="selectPersonByCondition" parameterType="map" resultMap="personResultMap">
    	select <include refid="fields" /> from person <include refid="query_condition" />
    	<if test="limit != null and offset != null">
    		limit #{offset}, #{limit}
    	</if>
 	</select>

	<select id="countPersonByCondition" parameterType="map" resultType="int">
		select count(*) from person <include refid="query_condition" />
	</select>
</mapper>